<% provide :title, "#{@badge.name} on Bdger" %>
<div class="row">
  <div class="span4 badge-icon">
    <%= image_tag @badge.image_url, width: 250, height: 250 %>
  </div>
  <div class="span6">
    <h1><%= @badge.name %></h1>

    <div class="row meta-links">
      <div class="span8">
        <ul class="inline">
          <% if user_signed_in? %>
            <li id="claim-badge">
              <% if current_user.badges.include? @badge %>
                <span class="muted"><i class="icon-plus"></i> You have this badge</span>
              <% else %>
                <a href="<%= new_achievement_path(@badge) %>" data-remote="true"><i class="icon-plus"></i> Claim this badge</a>
              <% end %>
            </li>
          <% end %>
          <li><a href="<%= @badge.big_cartel_link %>" rel="external"><i class="icon-external-link"></i> Buy on Bigcartel</a></li>
          <li><a href="<%= @badge.tumblr_link %>" rel="external"><i class="icon-retweet"></i> Reblog on Tumblr</a></li>
        </ul>
      </div>
    </div>

    <div class="row">
      <div class="span6 props-title">
        <span class="count"><%= pluralize @badge.achievements.count, "person" %></span> claimed this badge
      </div>
    </div>

    <div class="row">
      <div class="span6">
        <ul class="props inline">
          <li class="check-icon">
            <i class="icon-check"></i>
          </li>
          <% @badge.achievements.each do |a| %>
            <li class="face">
              <a href="<%= achievement_path(a.user, a) %>">
                <%= image_tag gravatar_url(a.user, size: 32), width: 32, height: 32, alt: a.user.username, title: a.user.username %>
              </a>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>