<% provide :title, "#{@user.username} on Bdger" %>
<div class="row">
  <div class="span2">
    <%= image_tag gravatar_url(@user, size: 128), width: 128, height: 128, class: "img-rounded" %>
  </div>
  <div class="span10">
    <div class="row">
      <div class="span10">
        <h1><%= @user.username %><span class="muted"><%= @user.sigil.to_s %></span></h1>

        <ul class="inline meta-links">
          <li>
            <a href="https://twitter.com/<%= @user.username %>" rel="external"><i class="icon-twitter"></i> @<%= @user.username %></a>
          </li>
          <% unless @website.eql? "" %>
            <li>
              <a href="<%= @user.website %>" rel="external"><i class="icon-link"></i> <%= @website %></a>
            </li>
          <% end %>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="span12">
    <h3 id="badges-title">Badges <span>(<%= @user.badges.count %>)</span></h3>
    <ul class="thumbnails">
      <% @user.achievements.each do |a| %>
        <li class="span3">
          <div class="thumbnail">
            <a href="<%= achievement_path(@user, a) %>">
              <%= image_tag a.badge.image_url, width: 200, height: 200 %>
            </a>
            <h5><%= link_to a.badge.name, achievement_path(@user, a) %></h5>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>