<% provide :title, "#{@user.username} on Bdger" %>
<div class="row">
  <div class="span2">
    <img src="<%= asset_path("default-pic-128.png") %>" height="128" width="128" />
  </div>
  <div class="span10">
    <div class="row">
      <div class="span10">
        <h1><%= @user.username %></h1>

        <ul class="inline meta-links">
          <li>
            <a href="https://twitter.com/<%= @user.username %>" rel="external"><i class="icon-twitter"></i> @<%= @user.username %></a>
          </li>
          <li>
            <a href="<%= @user.website %>" rel="external"><i class="icon-link"></i> <%= @website %></a>
          </li>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="span12">
    <h3 id="badges-title">Badges <span>(<%= @user.badges.count %>)</span></h3>
    <ul class="thumbnails">
      <% @user.achievements.each do |a| %>
        <li class="span3">
          <div class="thumbnail">
            <a href="<%= achievement_path(@user, a) %>">
              <img src="http://24.media.tumblr.com/34c13686c02c80fa585c7afe5c36166b/tumblr_mg7icx7J2p1rha3vbo1_r1_500.png" width="200" />
            </a>
            <h5><%= link_to a.badge.name, achievement_path(@user, a) %></h5>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>