  <div class="container footer-content">
    <div class="row">
      <div class="span12">
        <ul class="inline muted">
          <li>&copy; <%= Time.now.year %> <%= link_to "aergonaut", "http://aergonaut.com", rel: "external" %></li>
          <li><%= link_to "Blog", "http://blog.bdger.com", rel: :external %></li>
          <li><%= link_to "Help", help_path %></li>
          <li><%= link_to "Terms", terms_path %></li>
          <li><%= link_to "Privacy", privacy_path %></li>
          <li><%= link_to "Contact", contact_path %></li>
          <li><%= link_to "Support Bdger", "http://gum.co/bdger", rel: :external %></li>
        </ul>
      </div>
    </div>
  </div>
