<!DOCTYPE html>
<html>
<head>
  <title>Bdger</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body id="<%= "#{params[:controller]}" %>">

  <div id="topbar"></div>

  <%= render "shared/nav" %>

  <div class="container main-content">
    <div class="row">
      <div class="span12">
        <% flash.each do |type, msg| %>
          <div class="alert alert-<%= type %>"><%= msg %></div>
        <% end %>
      </div>
    </div>
<%= yield %>
  </div>

  <div class="container footer-content">
    <div class="row">
      <div class="span12">
        <ul class="inline muted">
          <li>&copy; <%= Time.now.year %> <%= link_to "aergonaut", "http://aergonaut.com", rel: "external" %></li>
          <li><%= link_to "About", about_path %></li>
          <li><%= link_to "Privacy", privacy_path %></li>
          <li><%= link_to "FAQ", faq_path %></li>
          <li><%= link_to "Contact", contact_path %></li>
        </ul>
      </div>
    </div>
  </div>

</body>
</html>
